body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #0056b3; /* A professional blue */
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 1.5rem; /* Add some space between cards */
}

.card-header {
    background-color: #e9ecef;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-weight: bold;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
